@model MarsThreeSite.Models.PageModel
@{
    ViewData["Title"] = "Start";
    ViewData["addr"] = "~/images/Photo/golden.jpg";
}
<div class=".img-responsive text-center">
    <img src=@Url.Content(Model.PageAddress) class=".pageimage" alt="Sample Photo" />
</div>
<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto nav-fill nav-justified">
                <li class="nav-item navbar-brand"><a href="#" class="nav-link">First</a></li>
                <li class="nav-item navbar-brand"><a href="#" class="nav-link">Back</a></li>
                <li class="nav-item navbar-brand"><a href="#" class="nav-link">Forward</a></li>
                <li class="nav-item navbar-brand"><a href="#" class="nav-link">Today</a></li>
            </ul>
        </div>
    </nav>
</div>
